{% extends 'index.html' %}

{% block content %}
    <ul class="articles">
        {% for article in object_list %}
        <li class="article">
            <div class="name">
                <h3><a href="{{ article.get_absolute_url }}">{{article.name}}</a></h3>
            </div>
            <div class="info">
                <p id="created_at">{{article.created_at}}</p>
                <p id="updated_at">{{article.updated_at}}</p>
            </div>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
