.article-list {
    width: 45%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    font-family: "Metropolis";
}

.article-item {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px grey;
    padding: 10px;
}

.article-item a, .article-body a {
    text-decoration: none;
    color: #3391ff;
}

.article-item a:visited, .article-body a:visited {
    color: #3391ff;
}

.name {
    justify-content: center;
    align-self: center;
}

.article-body {
    width: 45%;
    margin: 0 auto;
}
